* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color:aqua;
	font-size: 16px;
	height: 100vh;
	position: relative;
	width: 100%;
}

h3 {
	font-size: 34px;

}

label {
	font-size: 28px;
	padding: 20px;
}

.to-do-list {
	background: rgb(131, 58, 180);
	background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
	border: 3px solid violet;
	height: 200px;
	left: 50%;
	position: absolute;
	top: 300px; /* why using percentages doesn't work here? */
	transform: translate(-50%, -50%);
	width: 600px;
}

.column {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.row {
	display: flex;
	justify-content: space-evenly;
}
input {
	width: 60%;
}

button {
	background-color: transparent;
	background-color: violet;
	color:aqua;
	outline: none;
	width: 30%;
}
